services:
  mysql:
    image: mysql:8.0
    container_name: RAGMySQL
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  elasticsearch:
    image: elasticsearch:8.17.3
    volumes:
      - ./elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
      - elasticsearch_data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
    environment:
      discovery.type: single-node
volumes:
  mysql_data:
  elasticsearch_data: